# Dependencies
node_modules/
.pnpm-store/

# Logs
*.log
npm-debug.log*
pnpm-debug.log*
server.log

# Environment variables
.env.local

# Build outputs
dist/

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo

# Temporary files
*.tmp
.cache/
